* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-width: 0;

}

body {
    overflow-x: hidden;
    background-color: #fff;
}

*:focus {
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}